<h2>Sign Up</h2>
<form (ngSubmit)="register()" *ngIf="userForm" [formGroup]="userForm">
    <div class="form-group col-sm-2">
        <label for="username">User Name *</label>
        <input type="text" id="username" name="username" class="form-control" formControlName="username" />
        <div *ngIf="userNameCtrl?.dirty">
            <div *ngIf="userNameCtrl?.hasError('required')">user name is required</div>
        </div>
    </div>
    <div class="form-group col-sm-2">
        <label for="email">Email *</label>
        <input type="text" id="email" name="email" class="form-control" formControlName="email" />
        <div *ngIf="emailCtrl?.dirty">
            <div *ngIf="emailCtrl?.hasError('required')">Email is required</div>
            <div *ngIf="emailCtrl?.hasError('pattern')">Email should contain @ and domain name</div>
        </div>
    </div>
    <div class="form-group col-sm-2">
        <label for="birthday">BirthDay *</label>
        <input type="date" id="birthday" name="birthday" class="form-control" formControlName="birthday" />
        <div *ngIf="birthCtrl?.dirty">
            <div *ngIf="birthCtrl?.hasError('required')">Birth date is required</div>
            <div *ngIf="birthCtrl?.hasError('tooYoung')">You're way to young to be betting on ponies</div>
        </div>
    </div>

    <div class="form-group col-sm-2">
        <label for="password">Password *</label>
        <input type="password" id="password" name="password" class="form-control" formControlName="password" />
        <div *ngIf="passwordCtrl?.dirty">
            <div *ngIf="passwordCtrl?.hasError('required')">Password is required</div>
            <div *ngIf="passwordCtrl?.hasError('minLength')">Password should contain at least</div>
            <div *ngIf="passwordCtrl?.hasError('pattern')">Password should contain</div>
        </div>
    </div>

    <button type="submit" class="btn-primary" [disabled]="userForm?.invalid">Register Please!!!</button>
</form>
